* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

body {
  font-size: 22px;
  background-color: black;
}

.header {
  overflow: hidden;
  position: fixed;
  background-color: black;
  padding: 1rem;
  top: 0;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}
a:hover {
  text-decoration: underline;
  color: yellow;
}

.contact {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
  text-decoration: underline;
  font-weight: lighter;
}
.contact:hover {
  text-decoration: underline;
  color: yellow;
}

.header a {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 700;
  text-decoration: none;
  margin-right: 1em;
  font-weight: lighter;
}

.header a:hover {
  text-decoration: underline;
  color: yellow;
}

.footer {
  padding: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

.footer a {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  margin-right: 1em;
  font-weight: lighter;
  z-index: 1;
  padding-bottom: 1em;
}

.footer span {
  color: white;
  font-size: 0.7em;
  text-decoration: none;
  margin-right: 1em;
  font-weight: lighter;
  z-index: 1;
}

.footer a:hover {
  text-decoration: underline;
  color: yellow;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
  max-width: 100%;
  width: 100%;
}

.project-preview {
  margin-bottom: 2rem;
  width: 100%;
}


.project-preview h2 {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.project-preview h2 a {
  color: #222;
  text-decoration: none;
}

.project-preview p {
  margin-top: 0.5rem;
}

.project {
  width: 100%;
}

.project h3,
.project img,
.project p {
  margin-top: 1rem;
}

.project ul {
  margin-top: 0.5rem;
}

.section {
  padding: 1em;
  width: 100%;
  height: 100%;
  background-color: black;
  font-weight: lighter;
}

.section h2, h3 {
  color: white;
  font-weight: 700;
  margin-bottom: 0.5em;
  margin-top: 0.8em;
  margin-right: 1em;
}

.greeting {
  height: 100%;
  position: relative;
  z-index: 1;
}

.light {
  font-size: 2em;
  text-shadow: 1px 1px 2px black;
  font-weight: lighter;
  transition: 1s;
}

.classic {
  font-size: 3em;
  margin-top: 0em;
  text-shadow: 1px 1px 2px black;
  font-weight: normal;
}

.label {
  font-size: 1em;
  margin-top: 0em;
  position: absolute;
  max-width: calc(60% - 0.5rem);
  text-align: center;
  padding: 0.4em;
  color: black;
  font-weight: bold;
  background-color: yellow;
  box-shadow: 1px 2px 3px black;
}

.dry {
  font-size: 1em;
  margin-top: 4em;
  position: absolute;
  text-shadow: 1px 1px 2px black;
  z-index: 1;
  font-weight: lighter;
}

.profile {
  max-width: 70%;
  margin-top: 2em;
}

.profile img {
  /* filter: grayscale(100%); */
}


.right {
  float: right;
}

.space {
  padding-top: 0.5em;
}

@media (min-width: 400px) {
  .project-preview {
    flex: 1 50%;
    max-width: calc(50% - 0.5rem);
  }
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1/2;
  grid-row: 2;
}
.two {
  grid-column: 2 / 4;
  grid-row:  1 / 4;
}

.circle {
  border-radius: 50%;
  background-color: rgba(18, 216, 223, 0.432);
	transition: 1s;
}


.hero {
  font-size: 3em;
  margin-top: 0em;
  font-weight: normal;

  background: radial-gradient(#eff1ff, #000);
  background-size: 100% 80%;
  background-position: 50% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 16px;
  padding-bottom: 12px;
}


.fade-in {
  animation: fade-in-hero 1.5s ease-out 0.7s 1;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  }
  @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }

  .gradient-box {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1px;
  }
  .grid-item {
    padding: 1em;
    font-size: 1em;
    text-align: center;
  }